@import '../../scss/variables';
@import '../../scss/mixins';

.wrapperPizzaBlock {
  flex: 0 1 25%;
  display: flex;
  justify-content: center;
  padding: 0 20px 65px;

  @media screen and (max-width: $desktop-1) {
    flex: 0 1 33.333%;
  }
  @media screen and (max-width: $tablet-1) {
    padding: 0 20px 50px;
  }
  @media screen and (max-width: $tablet-2) {
    flex: 0 1 50%;
  }
  @media screen and (max-width: $mobile-2) {
    flex: 0 1 100%;
    padding: 0 0 30px;
  }
}

.pizzaBlock {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 260px;
  max-width: 280px;
  width: 100%;
  height: 100%;
  min-height: 391px;
  text-align: center;

  @media screen and (max-width: $desktop-3) {
    min-width: 250px;
  }

  .image {
    align-self: center;
    display: block;
    width: 260px;
    min-height: 260px;
    object-fit: contain;

    @media screen and (max-width: $desktop-3) {
      width: 230px;
      height: 230px;
    }
  }

  .info {
    height: 87px;
    margin-bottom: 20px;
    overflow: hidden;

    @media screen and (max-width: $desktop-3) {
      height: 83px;
      margin-bottom: 15px;
    }
  }

  .title {
    margin-bottom: 3px;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1%;
    line-height: 1.15;
    text-align: start;
    color: #505061;

    @media screen and (max-width: $tablet-2) {
      font-size: 18px;
    }
  }

  &.active .title {
    opacity: 0;
  }

  .description {
    font-size: 14px;
    text-align: start;
    color: rgb(120, 124, 130);
    line-height: 1.3;
    overflow: hidden;
  }

  &.active .description {
    opacity: 0;
  }

  .selector {
    display: none;
    flex-direction: column;
    padding: 20px 10px 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.85);
  }
  &.active .selector {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    .title,
    .description {
      opacity: 1;
    }
  }

  .bottom {
    flex: 1 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-right: 5px;
  }

  &.active .bottom {
    opacity: 0;
  }

  .price {
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.015em;
  }

  .selector {
    ul {
      display: flex;
      flex: 1;
      height: 32px;
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: 600;
      border-radius: 40px;
      background-color: rgb(243, 243, 247);

      li {
        padding: 5px;
        flex: 1;
        font-weight: 600;
        font-size: 14px;
        border-radius: inherit;
        cursor: pointer;
        @include noselect();
        &.active {
          background-color: rgb(120, 124, 130);
          color: #fff;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
          cursor: auto;
        }
      }
    }

    .sizes {
      margin-top: 15px;
    }

    .selectorBottom {
      margin-top: 20px;
    }

    .btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      width: 100%;
      height: 40px;
      padding: 8px 16px;
      border: 1px solid rgb(227, 24, 54);
      border-radius: 22px;
      background-color: rgb(227, 24, 54);
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color: #fff;
      cursor: pointer;
      outline: none;
      overflow: hidden;
    }
  }
}

.skeleton {
  .skeletonWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 260px;
  }

  .skeletonImage {
    width: 240px;
    height: 240px;
    border-radius: 50%;

    @media screen and (max-width: $desktop-3) {
      width: 220px;
      height: 220px;
    }
  }

  .skeletonInfo {
    width: 100%;
    border-radius: 5px;
  }

  .skeletonFooter {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1 0 auto;
  }

  .skeletonBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5px;
  }

  .skeletonBtn {
    width: 124px;
    height: 40px;
    border-radius: 22px;
  }

  .skeletonPrice {
    align-self: flex-end;
    width: 75px;
    height: 30px;
    border-radius: 5px;
  }
}
