@import '../../scss/variables';

.bottom {
  margin: 50px 0;

  .details {
    display: flex;
    justify-content: space-between;

    span {
      font-size: 22px;
    }
  }

  .detailsLeft {
    display: flex;
    flex-direction: column;

    span {
      font-size: 15px;
      color: $gray;
    }
  }

  .detailsRight {
    align-self: flex-end;

    span {
      color: $gray;

      b {
        color: $violet;
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

    .btnBack {
      svg {
        margin-right: 12px;
        path {
          fill: transparent;
          stroke-width: 2;
          stroke: darken($color: $gray-line, $amount: 20);
          transition: all 0.3 ease-in-out;
        }
      }
    }
  }
}