@import '../../scss/variables';

.sort {
  position: relative;
  .label {
    display: flex;
    align-items: center;
    white-space: nowrap;

    @media screen and (max-width: $mobile-2) {
      font-size: 14px;
    }

    svg {
      margin-right: 8px;
    }

    b {
      margin-right: 8px;
    }

    span {
      color: $violet;
      border-bottom: 1px dashed $violet;
      cursor: pointer;
    }
  }

  .icon {
    transform: rotateX(180deg);
    transform-origin: center;
    transition: all 0.1s linear;
  }
  &.open .icon {
    transform: rotateX(0);
  }

  .popup {
    display: none;
    position: absolute;
    right: 0;
    width: 190px;
    margin-top: 15px;
    padding: 10px 0;
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
    z-index: 5;

    ul {
      overflow: hidden;
      li {
        padding: 12px 20px;
        cursor: pointer;

        &.active,
        &:hover {
          background: rgba(254, 95, 30, 0.05);
        }

        &.active {
          font-weight: bold;
          color: $violet;
        }
      }
    }
  }
  &.open .popup {
    display: block;
  }
}
