@import '../../../../scss/variables';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid $violet;
  border-radius: 50%;
  cursor: pointer;
  background: #fff;

  &:disabled {
    border-color: $gray-light;
    cursor: default;

    &:hover {
      background: transparent;
      path {
        fill: $gray-light;
      }
    }
    &:active {
      transform: none;
    }
    path {
      fill: $gray-light;
    }
  }

  &,
  path {
    transition: all 0.3s ease-in-out;
  }

  path {
    fill: $violet;
  }

  &:hover {
    background: $violet;

    path {
      fill: #fff;
    }
  }

  &:active {
    transform: translateY(3px);
  }
}

.minus {
  svg {
    path:first-of-type {
      display: none;
    }
  }
}

.remove {
  border-color: darken($color: $gray-line, $amount: 10);

  &:hover {
    background: #000;
    svg {
      transform: rotate(45deg);

      path {
        fill: #fff;
      }
    }
  }

  svg {
    transform: rotate(45deg);

    path {
      fill: darken($color: $gray-line, $amount: 10);
    }
  }
}
