@import '../../scss/variables';

.item {
  display: flex;
  width: 100%;
  border-top: 1px solid $gray-line;
  padding-top: 30px;
  margin-top: 30px;

  &__image {
    display: flex;
    align-items: center;
    margin-right: 15px;
    width: 10%;

    img {
      width: 80px;
      height: 80px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;

    h3 {
      font-weight: bold;
      font-size: 20px;
      line-height: 27px;
      letter-spacing: 0.01em;
    }

    p {
      font-size: 15px;
      color: #8d8d8d;
    }
  }

  &__count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    min-width: 105px;
  }

  &__countBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 105px;

    b {
      font-size: 20px;
    }
  }

  &__price {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13%;

    b {
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 0.01em;
    }
  }

  &__remove {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 4%;
  }
}