@import '../../scss/variables';

.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;

  @media screen and (max-width: $desktop-3) {
    padding: 25px 0;
  }

  @media screen and (max-width: $tablet-1) {
    padding: 20px 0;
  }

  .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .logo {
    display: flex;
    margin-right: 20px;

    @media screen and (max-width: $mobile-2) {
      align-items: center;
    }

    img {
      width: 55px;
      margin-right: 15px;

      @media screen and (max-width: $mobile-2) {
        width: 45px;
        margin-right: 5px;
      }
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;

      @media screen and (max-width: $tablet-1) {
        font-size: 20px;
      }
      @media screen and (max-width: $mobile-3) {
        font-size: 18px;
      }
    }

    p {
      color: #7b7b7b;

      @media screen and (max-width: $tablet-1) {
        font-size: 14px;
      }
      @media screen and (max-width: $mobile-2) {
        display: none;
      }
    }
  }

  .search {
    flex: 1 1 auto;
    align-self: center;

    @media screen and (max-width: $desktop-3) {
      display: none;
    }
  }

  .button {
    display: flex;
    align-items: center;
    min-width: 100px;
    border: 1px solid transparent;
    color: #fff;
    line-height: 23px;

    &:hover {
      background-color: lighten($violet, 8%);
    }

    &:active {
      background-color: lighten($violet, 12%);
      transform: translateY(1px);
    }

    i,
    span,
    path,
    svg {
      transition: all $duration ease-in-out;
    }

    svg {
      margin-right: 8px;
      margin-bottom: 1px;

      @media screen and (max-width: $mobile-1) {
        width: 15px;
        height: 15px;
      }
    }

    span {
      font-weight: 600;
      font-size: 16px;
      white-space: nowrap;

      @media screen and (max-width: $mobile-1) {
        font-size: 14px;
      }
    }

    .delimiter {
      width: 1px;
      height: 25px;
      background-color: rgba(255, 255, 255, 0.25);
      margin-left: 14px;
      margin-right: 14px;
    }
  }
}
