$black: #232323;
$background: #dac59c;
$gray-line: #f6f6f6;
$orange: #f27642;

$container-width: 90%;

$duration: 0.15s;

// screen sizes
$desktop-1: 1400px;
$desktop-2: 1060px;
$tablet-1: 1024px;
$tablet-2: 990px;
$mobile-1: 660px;
$mobile-2: 600px;
$mobile-3: 420px;
