$black: #232323;
$background: #f7f4f0;
$gray-line: #f6f6f6;
$violet: #800080;
$gray: #8e9095;
$gray-light: rgba(0, 0, 0, 0.2);
$orange: #f27642;

$container-width: 90%;

$duration: 0.15s;

// screen sizes
$desktop-1: 1400px;
$desktop-2: 1250px;
$desktop-3: 1060px;
$tablet-1: 1024px;
$tablet-2: 990px;
$mobile-1: 660px;
$mobile-2: 610px;
$mobile-3: 450px;
$mobile-4: 420px;
