@import 'variables';
@import 'libs/normalize';
@import 'mixins';
@import 'animations';
@import 'scrollbar';

body {
  background-color: $background;
}

a {
  color: inherit;
}

button {
  cursor: pointer;
  transition: all 0.3s linear;

  &:active {
    transform: translateY(3px);
  }
}

.wrapper {
  width: calc(100vw - 100px);
  min-height: calc(100vh - 100px);
  background-color: #fff;
  margin: 50px auto;
  border-radius: 10px;
  max-width: 1400px;

  @media screen and (max-width: $tablet-1) {
    width: calc(100vw - 50px);
    margin: 25px auto;
  }
  @media screen and (max-width: $mobile-1) {
    width: auto;
    margin: 0 auto;
  }
  @media screen and (max-width: $mobile-2) {
    flex: 0 1 100%;
    margin: 25px auto;
    width: calc(100vw - 50px);
  }
  @media screen and (max-width: $mobile-4) {
    width: auto;
    margin: 0 auto;
  }
}

.content {
  padding: 40px 0;

  @media screen and (max-width: $tablet-2) {
    padding: 20px 0;
  }
}

.container {
  width: $container-width;
  margin: 0 auto;
}

.cart {
  &--empty {
    margin: 0 auto;
    width: 560px;
    text-align: center;

    h2 {
      font-size: 32px;
      margin-bottom: 10px;
    }

    p {
      font-size: 18px;
      line-height: 145.4%;
      letter-spacing: 0.01em;
      color: #777777;
    }

    icon {
      position: relative;
      top: 2px;
    }

    img {
      display: block;
      width: 300px;
      margin: 45px auto 60px;
    }

    .button--black {
      padding: 12px 0 14px;
      width: 230px;
      margin: 0 auto;
      font-weight: 600;
      font-size: 18px;
    }
  }
}
