@import '../../../../scss/variables';
@import '../../../../scss/mixins';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 100px;
  padding: 12px 25px;
  background: $violet;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  transition: all $duration ease-in-out;
  @include noselect();

  &:hover {
    background: lighten($violet, 5%);
  }

  &:not(.select) {
    @media screen and (max-width: $mobile-1) {
      font-size: 14px;
      padding: 10px 20px;
    }
  }

  &.select {
    height: 40px;
    padding: 8px 27px;
    border: 1px solid $violet;
    border-radius: 22px;
    outline: none;
    background-color: white;
    color: $violet;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    background: transparent;

    &:hover {
      background: $violet;
      color: #fff;
    }
  }
}

.transparent {
  border: 1px solid darken($color: $gray-line, $amount: 10);
  border-color: darken($color: $gray-line, $amount: 10);
  background: transparent;
  color: darken($color: $gray-line, $amount: 20);

  &:hover {
    background: #000;
    color: #fff;
    svg {
      path {
        stroke: #fff;
      }
    }
  }
}

.black {
  padding: 10px 25px;
  font-weight: bold;
  border-radius: 22px;
  background: #000;
  color: #fff;
  border: none;
  transition: all 0.3s linear;

  &:hover {
    background: lighten(#000, 20%);
  }
}