.container {
  text-align: center;
}
.title {
  margin-bottom: 20px;
}
.btn {
  padding: 10px 25px;
  font-weight: bold;
  border-radius: 22px;
  background: #000;
  color: #fff;
  border: none;
  transition: all .3s linear;

  &:hover {
    background: lighten(#000, 20%);
  }
}